.top-blue-band {
  width: 100%;
  background-color: whitesmoke;
  padding: 6px 0;
}

.blue-band-content {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: blue;
  font-family: "Merriweather", serif;
  font-size: 0.9rem;
}

.band-right {
  font-weight: bold;
}
